.cuadro{
    text-align: center;
    height: 430px;
    width: 380px; 
    border: 1px solid;  
    border-radius: 20px;
    overflow:hidden;
    background-color:white
}
.imagen{
    text-align: center;
    width: 300px ; 
    height: 290px;
    border:1px solid ; 
    border-radius:50%; 
    margin-top: 10px;

}